language: node_js
node_js:
  - '8.12.0'

branches:
  only:
    - master

addons:
    chrome: stable

before_script:
- yarn global add @angular/cli

cache:
  yarn: true
  directories:
    - node_modules

script:
  - ng lint
  - ng build --prod

deploy:
  provider: pages
  github-token: $GITHUB_TOKEN
  keep-history: true
  local-dir: ./dist/providers-v2
  on:
