language: node_js
node_js:
- 8.12.0
branches:
  only:
  - master
addons:
  chrome: stable
  sonarcloud:
    organization: savi30-github
before_script:
- yarn global add @angular/cli
before_install:
- echo $super_secret_password | gpg --passphrase-fd src/environments/environments.tar.gpg
- tar xvf src/environments/environments.tar -C src/environments/
cache:
  yarn: true
  directories:
  - node_modules
script:
- ng lint
- ng build --prod --aot
- sonar-scanner --debug
deploy:
  provider: pages
  skip-cleaup: true
  github-token: "$GITHUB_TOKEN"
  keep-history: true
  local-dir: "./dist/providers-v2"
env:
  global:
    secure: rQV8Q4NhCovlcrKd/ZIBaFJY533GRcNSYZsJ1LScYrao1PPiWnHFKSuG5OmElQ8O9Pijm24ChuFMz/DXdvEjN97K+4BZXQ1zuEOWNNoQeB82ESfQUWheXUMMY+lp1hdVAlEH6ZsjGqRDgV3+GIIMjiM6iTWf5UmL0nJRjBnJ4ML0XrRWmHGDoXc3DTpTMDyVtwfmXot3BlX7NsI7MWeQHtkHCWQXZC9KaiB7kd9VES4GkppS9vgX3TVaU0M55dzc8HgEP8IzxOOop2PV8yjPGGuXP1PjaKwg3QhfI9v8LazgT8QLgNOb8NjtyGEvAQaoDIXuuEd9d4gnL7G/28Vp3RkTjLkgeCLu5zsT+TDnZQyiqmx5b2khaGjA+ONiXU8UIrjMGWzEwXj452NP8LGAew63JhEQJL0A8FfzIMH9PrbU30uDNmL23ZQzpx+VoZ90TluwrTNnLC+p01uMVCtzql5UBHJA61nxPplZ0EpDOXqIBV96UTh1TaG7aYdU70SOnRIs1KqDewlnU+ir8Uswa9J5Rh7pBzRppuDhOYy9HyxW9TVuh4/m3gby9KazWjnet+xN+FVeZl0RVxLqnYNrQKeDsTKsSO9+1B3bXyCwJ2eLnXALdJ5fOw1XPxp3vlxX3srAa+xxoaRNzhArLNetaj7wqQa4zDFsnuXM331BJlc=
