.sidenav-container {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
  }

.navbar-nav.navbar-right > li > .dropdown-menu:before {
  left: auto;
  right: 12px;
}

.navbar-nav.navbar-right > li > .dropdown-menu:after {
  left: auto;
  right: 12px;
}

.sidebar,
.off-canvas-sidebar {
  position: absolute;
  width: 12%;
  top: 0;
  bottom: 0;
  left: 0;
  z-index: 1;
  box-shadow: 0 10px 30px -12px rgba(0, 0, 0, 0.42), 0 4px 25px 0px rgba(0, 0, 0, 0.12), 0 8px 10px -5px rgba(0, 0, 0, 0.2);
}