
<mat-card class="login-card">
  <mat-card-header>
    <!--logo and stuff-->
  </mat-card-header>
  <mat-card-content>
    <div class="container">
      <h3>APPointments</h3>
    <mat-form-field>
      <input matInput placeholder="Email" [formControl]="email" required>
      <mat-error *ngIf="email.invalid">{{getErrorMessage()}}</mat-error>
    </mat-form-field>
      <mat-form-field>
        <input matInput placeholder="Password" [type]="hide ? 'password' : 'text'" #password>
        <mat-icon matSuffix (click)="hide = !hide">{{hide ? 'visibility' : 'visibility_off'}}</mat-icon>
      </mat-form-field>
        <br/>
      <a>Forgot password?</a>
        <br/>
      <button mat-raised-button (click)="auth.emailLogin(email.value,password.value)">Login</button>
        <br/>
      <span class="separator"></span>
       <br/>
      <button mat-raised-button class="google text" (click)="auth.googleLogin()">Log in with Google</button>
        <br/>
      <button mat-raised-button class="facebook text" (click)="auth.facebookLogin()" >Log in with Facebook</button>
        <br/>
      <div class="container">
        <span >Don't have an account?</span>
          <br>
        <span class="link" routerLink="/auth/register">Create an account</span>
      </div>
    </div>
  </mat-card-content>
  <mat-card-footer class="tab-group buttons">

  </mat-card-footer>
</mat-card>

